{% extends 'base.html.twig' %}

{% block body %}

    <div class="mb-4 text-center">
        <h2 class="mb-5"> Subasta </h2>
    </div>

<div class="container-fluid">
    <div class="card pt-5 pb-4">
        <div class="col-12">
        <div class="row">
            <div class="col-8 mb-3">
                <div class="row">
                    <div class="col-4">
                        <h4> {{subasta.propiedad}} </h4>
                        <h5> T&iacute;tulo </h5>
                    </div>

                    <div class="col-4">
                        <h4> {{subasta.semanaReserva}}/{{subasta.anioReserva}} </h4>
                        <h5> Semana a reservar </h5>
                    </div>

                    <div class="col-4 mb-3">
                        <h4> {{subasta.estado|default('-')}} </h4>
                        <h5> Estado </h5>
                    </div>

                    <div class="col-4">
                        <h4> {{subasta.fechaInicio|date('d/m/Y')}} </h4>
                        <h5> Fecha Inicio </h5>
                    </div>

                    <div class="col-4">
                        <h4> {{subasta.fechaFin|date('d/m/Y')}} </h4>
                        <h5> Fecha F&iacute;n </h5>
                    </div>

                    <div class="col-4 mb-3">
                        <h4> {{subasta.montoBaseFormated}} </h4>
                        <h5> Monto Inicial </h5>
                    </div>

                    <div id="pujas-list" class="col-6 mt-3">
                        <h5> Pujas 
                            {% if (app.user.rol == "COMUN" or app.user.rol == "PREMIUM") and (subasta.estado.id == 1) %}
                                <input class="col-4 ml-5" placeholder="0.00" id="inputPuja" type="" name="">
                                <button class="btn btn-primary" name="{{subasta.id}}" id="pujar"> Pujar </button>
                            {% endif %}
                        </h5>

                        {% if pujas|length > 0 %}
                            <table class="table table-striped text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">Monto</th>
                                        <th scope="col">Usuario</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set cant = 0 %}
                                    {% for p in subasta.pujas %}
                                        {% if cant < 3 %}
                                            <tr>
                                                <td id="puja-{{cant}}" data-monto="{{p.monto}}">{{p.montoFormat}}</td>
                                                <td>{{p.usuario}}</td>
                                            </tr>
                                        {% endif %}

                                        {% set cant = cant + 1 %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <hr>
                            <span class="text-danger"> No hay pujas por el momento </span><br>
                        {% endif %}

                    </div>
                    <div class="col">
                    </div>

                </div>

            </div>  

            <div class="col-4 mb-3">

                <div class="col-12">
                    <img src="{{subasta.propiedad.foto|default('https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fmoorestown-mall.com%2Fnoimage.gif&f=1')}}" width="100%" border="0">  
                </div>
            
            </div>
        </div>
    </div>
    </div>  

    <div class="text-left mt-5">
        
        {% if is_granted("ROLE_ADMINISTRADOR") %}
            <a class="btn btn-outline-secondary" href="{{ path('subasta_index') }}"><i class="fas fa-arrow-left"></i>  Volver al listado Administracion</a>
        {% endif %}
        {% if is_granted("ROLE_COMUN") %}
            <a class="btn btn-outline-secondary" href="{{ path('subasta_index_publico') }}"><i class="fas fa-arrow-left"></i>  Volver al listado</a>
        {% endif %}

    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function(){
            
            var montoInicial = '{{subasta.montoBase}}';

            $(document).on('click', '#pujar', function (e) {

                var valorPujado = $('#inputPuja').val();

                $('.error-message').remove();

                if ( $('#puja-1').length > 0 ) {

                    if (Number($('#puja-0').data('monto')) >= Number(valorPujado)){

                        $('#pujar').after(`<div class="error-message"><br><span class="text-danger">El monto debe ser superior a la mejor oferta.</span></div>`);

                    }else{
                        var subasta = $(this).attr('name');  

                        var data = { 
                            valor: valorPujado, 
                            subasta: subasta
                        };

                        $.ajax({ 
                            url: "{{ path('puja_new') }}",
                            type: 'POST', 
                            data: data, 
                            success: function (datos) {
                                $('#inputPuja').val('0.00');
                                $('#pujas-list').html(datos.html)
                                if (datos.mensaje != null) {
                                    $('#pujar').after(`<div class="error-message"><br><span class="text-danger">`+datos.mensaje+`</span></div>`);
                                }
                            }
                        });
                    }
                }else{

                    if (montoInicial >= valorPujado){

                        $('#pujar').after(`<div class="error-message"><br><span class="text-danger">El monto debe ser superior al monto inicial de la subasta.</span></div>`);

                    }else{
                        var subasta = $(this).attr('name');  

                        var data = { 
                            valor: valorPujado, 
                            subasta: subasta
                        };

                        $.ajax({ 
                            url: "{{ path('puja_new') }}",
                            type: 'POST', 
                            data: data, 
                            success: function (datos) { 
                                if (datos.mensaje == null) {
                                    $('#pujar').after(`<div class="error-message"><br><span class="text-danger">`+datos.mensaje+`</span></div>`);
                                }
                                $('#inputPuja').val('0.00');
                                $('#pujas-list').html(datos.html)
                            }
                        });
                    }
                }

            });
        });
    </script>


{% endblock %}
