{% extends 'base.html.twig' %}

{% block body %}
    <h1>Estadoreserva</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ estadoReserva.id }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ estadoReserva.estado }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ estadoReserva.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('estadoreserva_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('estadoreserva_edit', { 'id': estadoReserva.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
