{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creditos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Vencimiento</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for credito in creditos %}
            <tr>
                <td><a href="{{ path('credito_show', { 'id': credito.id }) }}">{{ credito.id }}</a></td>
                <td>{% if credito.vencimiento %}{{ credito.vencimiento|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('credito_show', { 'id': credito.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('credito_edit', { 'id': credito.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('credito_new') }}">Create a new credito</a>
        </li>
    </ul>
{% endblock %}
