<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>HomeSwitchHome</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('libs/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('libs/bootadmin/css/bootadmin.min.css') }}">
            <link rel="stylesheet" href="{{ asset('libs/bootstrap/css/bootstrap-datetimepicker.css') }}">
            <link rel="stylesheet" href="{{ asset('libs/select2/css/select2.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/jquery-ui.theme.css') }}">
            <link rel="stylesheet" href="{{ asset('css/jquery-ui.structure.css') }}">
            <style type="text/css">
                #footer
                {
                    width:100%;
                    position:absolute;
                    bottom:0;
                    left:0;
                }
            </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
            {% include 'header.html.twig' %}
        {% endblock %}
        <div class="container mt-2">
            <div class="row justify-content-center">
                {% include 'mensajes.html.twig' %}
            </div>
        </div>
        {% block form_theme %}
            {% if form is defined %}
                {% form_theme form  'form_template.html.twig' %}
            {% elseif edit_form is defined %}
                {% form_theme edit_form  'form_template.html.twig' %}
            {% endif %}
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block footer %}
            {% include 'footer.html.twig' %}
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('libs/jquery.js') }}"></script>
            <script src="{{ asset('libs/popper/js/popper.js') }}"></script>
            <script src="{{ asset('libs/bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('libs/moment.js') }}"></script>
            <script src="{{ asset('libs/bootstrap/js/bootstrap-datetimepicker.js') }}"></script>
            <script src="{{ asset('libs/weekpicker/bootstrap-weekpicker.js') }}"></script>
            <script src="{{ asset('libs/bootadmin/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('libs/bootadmin/js/bootadmin.min.js') }}"></script>            
            <script src="{{ asset('libs/jquery-ui/jquery-ui.js') }}"></script>
            <script src="{{ asset('libs/select2/js/select2.min.js') }}"></script>

            <script type="text/javascript">
                $(document).ready(function(){
                    $("form").attr('novalidate', 'novalidate');
                    $("form").attr('autocomplete', "off");

                    // Select2 Initialize
                      // Select2 without the search
                      if($().select2) {
                        $('.select2').select2({
                          minimumResultsForSearch: Infinity
                        });

                        // Select2 by showing the search
                        $('.select2-show-search').select2({
                          minimumResultsForSearch: ''
                        });

                        // Select2 with tagging support
                        $('.select2-tag').select2({
                          tags: true,
                          tokenSeparators: [',', ' ']
                        });
                      }
                    // $('.select2').select2();
                    $('.dropdown-toggle').dropdown()
                });
            </script>
        {% endblock %}
    </body>
</html>
