<nav class="navbar navbar-expand navbar-dark bg-secondary">
    <!-- <a class="sidebar-toggle mr-3" href="#"><i class="fa fa-bars"></i></a> -->
    <a class="navbar-brand" href="{{ path('homepage') }}">
        <img alt="Porto" width="120" height="55" src="{{asset('Logos/HSH-Logo.svg')}}"/>
        <img alt="Porto" width="120" height="55" src="{{asset('Logos/HSH-Text.svg')}}"/>
    </a>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="mr-4 text-left nav-item"> <a href="{{path('propiedad_index_publico')}}" class="text-white"> Propiedades </a> </li>
            <li class="mr-4 text-left nav-item"> <a href="{{path('subasta_index_publico')}}" class="text-white"> Subastas </a> </li>
            <!-- <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-envelope"></i> 5</a></li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-bell"></i> 3</a></li> -->
            {#  <li class="nav-item dropdown">
                <a href="#" id="dd_user" class="nav-link dropdown-toggle" data-toggle="dropdown"></i> John Doe</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd_user">
                    <a href="#" class="dropdown-item">Profile</a>
                    <a href="#" class="dropdown-item">Logout</a>
                </div>
            </li> #} 
            {% if app.user %}
                <li class="nav-item">
                    {% if is_granted('ROLE_ADMINISTRADOR') %}
                        <div class="btn-group">
                            <button class="btn btn-outline-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"> </i> {{app.user}}
                            </button>
                            <div class="dropdown-menu text-center" style='margin-left:-60px'>
                                <a href="{{path('adminpage')}}">Administraci&oacute;n</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="{{path('logout')}}">Cerrar Sesi&oacute;n</a>
                            </div>
                        </div>
                    {% elseif is_granted('ROLE_COMUN') %}
                        <div class="btn-group">
                            <button class="btn btn-outline-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"> </i> {{app.user}}
                            </button>
                            <div class="dropdown-menu text-center" style='margin-left:-60px'>
                            Some action
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="{{path('logout')}}">Cerrar Sesi&oacute;n</a>
                            </div>
                        </div>
                    {% endif %}
                </li>
            {% else %}
                <li id="btnIngresar" class="mr-4 text-left">
                    <a href="{{ path('login') }}" class="text-white"><i class="fas fa-fingerprint"></i> Ingresar</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>