{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pujas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Monto</th>
                <th>Fecha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for puja in pujas %}
            <tr>
                <td><a href="{{ path('puja_show', { 'id': puja.id }) }}">{{ puja.id }}</a></td>
                <td>{{ puja.monto }}</td>
                <td>{% if puja.fecha %}{{ puja.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('puja_show', { 'id': puja.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
