<h5> Pujas 
    <input class="col-2 ml-5" placeholder="0.00" id="inputPuja" type="" name="">
    <button class="btn btn-primary" name="{{subasta.id}}" id="pujar"> Pujar </button>
</h5>

{% if subasta.pujas|length > 0 %}
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th scope="col">Monto</th>
                <th scope="col">Usuario</th>
            </tr>
        </thead>
        <tbody>
                {% set cant = 0 %}
                {% for p in subasta.pujas %}
                    {% if cant < 3 %}
                        <tr>
                            <td id="puja-{{cant}}" data-monto="{{p.monto}}">{{p.monto}}</td>
                            <td>{{p.usuario}}</td>
                        </tr>
                    {% endif %}

                    {% set cant = cant + 1 %}
                {% endfor %}
        </tbody>
    </table>
{% else %}
    <hr>
    <span class="text-danger"> No hay pujas por el momento </span><br>
{% endif %}