<div class="col-lg-2  col-md-2 {{ paginator.hide.rowsPerPage ? 'col-offset-1' : '' }} small {{ paginator.exports|length > 0 ? '' : 'invisible' }}">
    {% for export in paginator.exports %}
        <a class="btn btn-sm btn-{{ export.type == 'excel' ? 'success' : 'danger' }} export" id="{{ export.id }}" href="?export={{ export.id }}" data-toggle="tooltip" data-placement="bottom" title="{{ export.tooltip }}">
            <i class="fa fa-file-{{ export.type }}-o" style="font-size: 14px;"></i>
        </a>
    {% endfor %}
</div>
