<div id="filters-{{ paginator.id }}">
	<div class="row justify-content-end align-conten-center mr-5">
		<div class="col-sm-auto">
			<h3>Filtrar por:</h3>
		</div>
        {% set hidden_categoria = null %}
        {% for f in filters %}
            {# {% if f.vars.id != 'mottapgbundle_paginatorformtype_filters_categoria' %} #}
			<div class="col-sm-auto" style="margin-bottom: 10px;">
				{{ form_widget(f) }}
			</div>
            {# {% else %}
                {% set hidden_categoria = f %}
            {% endif %} #}
		{% endfor %}
		<div class="col-sm-auto">
			<button class="btn btn-info" id="search-{{ paginator.id }}" type="button" title="{{ 'Search'|trans }}">
	            {{ 'Search'|trans }}
	        </button>
	        {#<button class="btn btn-default" id="clean-{{ paginator.id }}" type="button" title="{{ 'Clean'|trans }}">
	            {{ 'Clean'|trans }}
	        </button>#}
		</div>
	</div>
</div>
