<div class="col text-center text-right-not-xs {{ paginator.form.orderBy.vars.choices|length == 0 or paginator.hide.order ? 'invisible' : ''}}">
    {# {{ form_label(paginator.form.orderBy, null) }} #}
    {{ form_widget(paginator.form.orderBy, { 'attr': {'class': 'btn btn-outline-secondary btn-navbar btn-sm'} }) }}
    {{ form_widget(paginator.form.direction, { 'attr': {'class': 'btn btn-outline-secondary btn-navbar btn-sm'} }) }}
    <button class="btn btn-secondary btn-navbar btn-sm" id="sort-{{ paginator.id }}" style="cursor:pointer" type="button" title="{{ 'Sort'|trans }}">
        {{ 'Sort'|trans }}
    </button>
    
</div>
