{% extends paginator.layout ~ '.html.twig' %}

{% form_theme paginator.form 'form_div_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% include '@Pg/Paginator/components/css.html.twig' %}
{% endblock %}

{% block body %}
    {# {% include '@Pg/Paginator/components/mass_error.html.twig' %} #}
    {% block headPage %}
    {% endblock %}
    <div class="row justify-content-center align-items-bottom">
        <div class="col-auto">
			{% block title %}{% endblock %}
        </div>
    </div>
	<div id="list">
	    <form action="" method="POST" id="{{ paginator.id }}">
	    	{% block pg_header %}
		        {% if paginator.form.filters is defined and paginator.form.filters|length > 0 %}
		            {% set filters = paginator.form.filters %}
		            {% block panelFilters %}
		            	{% include '@Pg/Paginator/components/filter_'~ paginator.filterTheme ~'.html.twig' %}
		            {% endblock %}
		        {% endif %}
	            {% block botones %}{% endblock %}
	    	{% endblock %}
	        <div id="table-container-{{ paginator.id }}" class="{{ paginator.hide.list ? 'hide' : '' }}">
	            {# <div class="e10"></div> #}
	            <br>
	            {% block list %}{% endblock %}
	            <hr>
	            {% include '@Pg/Paginator/components/footer.html.twig' %}
	            {% block pg_footer %}{% endblock %}
	        	{% include '@Pg/Paginator/components/header.html.twig' %}
	        </div>
	        {{ form_row(paginator.form._token) }}
	    </form>
	</div>

{% endblock %}
