{% block ownStylesStart %}
    {% include '@Pg/Paginator/components/css.html.twig' %}
{% endblock %}

{% block modals %}{% endblock %}

{% form_theme paginator.form 'form_div_layout.html.twig' %}

{% block body %}
	{% include '@Pg/Paginator/components/mass_error.html.twig' %}
	{% block title %}{% endblock %}
	<div id="list">
	    <form action="" method="POST" id="{{ paginator.id }}">
	    	{% block pg_header %}
		        {% if paginator.form.filters is defined and paginator.form.filters|length > 0 %}
		            {% set filters = paginator.form.filters %}
		            {% block filtersPanel %}
		            	{% include 'PgBundle:Paginator/components/filter_'~ paginator.filterTheme ~'.html.twig' %}
		            {% endblock %}
		        {% endif %}
		        <div class="row">
		            <div class="col-md-12">
		                {% block buttons %}{% endblock %}
		            </div>
		        </div>
	    	{% endblock %}
	        <div id="table-container-{{ paginator.id }}" class="{{ paginator.hide.list ? 'invisible' : '' }} {% block table_class %}{% endblock %}">
	        	{% include '@Pg/Paginator/components/header.html.twig' %}
	            <div class="e10"></div>
	            {% block list %}{% endblock %}
	            {% block pg_footer %}{% endblock %}
	            <hr>
	            {% include '@Pg/Paginator/components/footer.html.twig' %}
	            <hr>
	        </div>
	        {{ form_row(paginator.form._token) }}
	    </form>
	</div>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('vendors/jquery/jquery-3.2.0.min.js') }}" type="text/javascript"></script>
{% endblock %}
