{% extends 'base.html.twig' %}

{% block javascripts %}
    {{parent()}}
{% endblock %}


{% block body %}

{{ form_start(form) }}

<div class="row ">
    <div class="col-4 ">
    </div>

    <div class="col-4 form-group">

        {{ form_row(form.email) }}
    
        {{ form_row(form.plainPassword) }}

        {{ form_row(form.nombre) }}
    
        {{ form_row(form.apellido) }}
    
        {{ form_row(form.fechaNacimiento) }}
    </div><!-- form-group -->
    

</div>
<div class="row mt-4">
    <div class="col text-center">
        <a class="btn btn-secondary" href="{{path('homepage')}}">Cancelar</a>
        <button class="btn btn-success" type='submit'>Confirmar</button>
    </div>
</div>
{{ form_end(form) }}


{% endblock %}
