{% extends 'base.html.twig' %}

{% block javascripts %}
    {{parent()}}
{% endblock %}


{% block body %}

{{ form_start(form) }}

<div class="container-fluid">
    <div class="row justify-content-center mb-3 text-center">
        <div class="col">
            <h3>
                Registro de usuario
            </h3>
        </div>
    </div>

    <div class="row justify-content-center mb-3 text-center">
        <div class="col-3">
            {{ form_row(form.email) }}
        </div>
   
        <div class="col-3">
            {{ form_row(form.plainPassword) }}
        </div>
    </div>

    <div class="row justify-content-center mb-5 text-center">
        <div class="col-2">
            {{ form_row(form.nombre) }}
        </div>

        <div class="col-2">
            {{ form_row(form.apellido) }}
        </div>

        <div class="col-2 align-content-center">
            {{ form_row(form.fechaNacimiento) }}
        </div>
   
    </div>    
    
    <div class="row justify-content-left  text-center">
        <div class="col">
            <h5>
                Medio de pago
            </h5>
        </div>
    </div>

    <div class="row justify-content-center mb-3 text-center">
        <div class="col-3">
            {{ form_row(form.tarjetas.titular) }}
        </div>
   
        <div class="col-3">
            {{ form_row(form.tarjetas.numero) }}
        </div>
    </div>

    <div class="row justify-content-center mb-3 text-center">
        <div class="col-2">
            {{ form_row(form.tarjetas.marca) }}
        </div>

        <div class="col-2">
            {{ form_row(form.tarjetas.codigo) }}
        </div>

        <div class="col-2">
            {{ form_row(form.tarjetas.fechaVto) }}
        </div>
    </div>


    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-2 text-center">
            <div class="row justify-content-around">
                <a class="btn btn-secondary" href="{{path('homepage')}}">Cancelar</a>
                <button class="btn btn-success" type='submit'>Confirmar</button>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}


{% endblock %}
