{% extends 'admin_base.html.twig' %}


{% block body %}
    <div class="row">
        <div class="col-4 offset-4 mb-4 text-center">
            <h2> Ver Perfil {{ usuario.nombreCompleto }}</h2>
        </div>
    </div>

<div class="container-fluid">
    <div class="card  pt-5 pb-4">
        <div class="col-12 mb-3">
            <div class="row mb-3">
                <div class="col">
                    <h4> {{usuario.nombreCompleto}} </h4>
                    <h5> Nombre completo </h5>
                </div>

                <div class="col">
                    <h4> {{usuario.email}} </h4>
                    <h5> Email (username) </h5>
                </div>

                <div class="col">
                    <h4> {{usuario.fechaNacimiento|date('d/m/Y')}} </h4>
                    <h5> Fecha Nacimiento </h5>
                </div>
            </div>
            <div class="row mb-3">
        
                <div class="col-4">
                    <h4> 
                        {{usuario.rol}} 
                        
                        {% if solicitud is not empty %}
                    
                            {% if solicitud.tipo == 'A' %}
                                <a href="{{path('aceptar_solicitud', { id : usuario.id, tipo : 'A' })}}" class="ml-5 btn btn-sm btn-primary pull-right" data-userId="{{usuario.id}}" id="solicitarAlta"> Aceptar premium</a>
                            {% else %}
                                 <a href="{{path('aceptar_solicitud', { id : usuario.id, tipo : 'B' })}}" class="ml-5 btn btn-sm btn-primary pull-right" data-userId="{{usuario.id}}" id="solicitarAlta"> Aceptar baja</a>
                            {% endif %}

                        {% endif %}

                    </h4>
                    <h5> Tipo de cuenta </h5>
                </div>

                <div class="col">  
                    <h4> {{usuario.creditos|length}} </h4>
                    <h5> Cr&eacute;ditos </h5>
                </div>
            </div>
        </div>  

        <div class="col-12">
            <h3>Medio de pago  </h3>

            <div class="table-wrapper">
                <table id="datatable1" class="table display responsive nowrap" style="width: 100% !important">
                    <thead>
                        <tr>
                            <th> Marca </th>
                            <th> Titular </th>
                            <th> Número </th>
                        
                            <th class="wd-5p"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {# {% for tarjeta in usuario.tarjetas %} #}

                            <tr>
                                <td>{{ usuario.tarjeta.marca }}</td>
                                <td>{{ usuario.tarjeta.titular }}</td>
                                <td>{{ usuario.tarjeta.numero }}</td>
                                <td> 
                                   {#  <a class="" href="{{path('tarjeta_edit', {id : tarjeta.id})}}" title="Modificar"> <i class="far fa-edit"></i></a> 
                                    &nbsp;&nbsp;
                                    <a class="text-danger" href="{{path('tarjeta_delete', {id : tarjeta.id})}}" title="Eliminar"> <i class="fas fa-minus-circle"></i></a>  #}

                                </td>
                            </tr>
                        {# {% endfor %} #}
                    </tbody>
                </table>
            </div><!-- table-wrapper -->

        </div>
    </div>  
    <div class="text-left mt-5">

        <a class="btn btn-outline-secondary" href="{{ path('usuario_index') }}"><i class="fas fa-arrow-left"></i>  Volver al listado</a>

    </div>
</div>


{% endblock %}
