{% extends 'PgBundle:Paginator/layouts/paginator_ajax.html.twig' %}

{% block list %}

    {% set hasMassAction = paginator.massActions|length > 0 ? true : false %}
    {#<div class="table-responsive">#}
    <div class="row">
        {#        <div class="table table-striped table-hover table-condensed">#}
        <div class="table col-lg-12">

            <div class="col-lg-12" id="table-body-{{ paginator.id }}">
                {% block page_row %}
                    {% for entity in paginator.entities %}
                        {% set entityid = entity.id is defined ? entity.id : '' %}
                        {% block paginator_row_prev %}
                            <div class="pgrow {% block row_class %}{% endblock %}" id="row-{{ entityid }}">
                                {#{% if hasMassAction %}
                                    <td>
                                        <input class="massaction" type="checkbox" id="massaction{% block massId %}{{ entityid }}{% endblock %}" name="massaction[]" value="{% block massValue %}{{ entityid }}{% endblock %}">
                                    </td>
                                {% endif %}#}
                                {% block paginator_table_data %}{% endblock %}
                            </div>
                        {% endblock %}
                    {% else %}
                        <div class="danger">
                            <div>
                                {% block no_data %}{{ 'No data'|trans }}.{% endblock %}
                            </div>
                        </div>
                    {% endfor %}
                {% endblock %}
            </div>
        </div>
        <i class="fa fa-spinner fa-spin table-loader invisible" id="loader-{{ paginator.id }}"></i>
    </div>
{% endblock %}
