{% extends '@Pg/Paginator/tableinline.html.twig' %}

{% block title %}
    <h2 class="mb-5" > Mis reservas </h2>
{% endblock %}

{% block paginator_table_header %}
    {# <th></th> #}
    <th scope="col" class="col-2" style="width:15%"></th>
    <th scope="col" class="">Propiedad</th>
    <th scope="col" class="">Fecha inicio</th>
    <th scope="col" class="">Fecha fin</th>
    <th scope="col" class="">Semana</th>
    <th></th>
{% endblock %}

{% block paginator_table_data %}
    <td class="align-middle">  
        <img src="{{entity.propiedad.foto|default('https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fmoorestown-mall.com%2Fnoimage.gif&f=1')}}" {# width="30%" #} border="0" style="max-width:100%; max-heigth:100%;">  
    </td>
    <td class="align-middle">{{ entity.propiedad }}</td>
    <td class="align-middle">{{ entity.fechaInicio|date('d/m/Y') }}</td>
    <td class="align-middle">{{ entity.fechaFin|date('d/m/Y') }}</td>
    <td class="align-middle">{{ entity.semana }} - {{ entity.anio }}</td>
    <td class="align-middle">
        <a class="ml-4 btn btn-outline-primary" href="{{path('cancelar_reserva', {'id':entity.id}) }}" title="Ver"> Cancelar </a>
    </td>
{% endblock %}