{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reserva</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reserva.id }}</td>
            </tr>
            <tr>
                <th>Fechainicio</th>
                <td>{% if reserva.fechaInicio %}{{ reserva.fechaInicio|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechafin</th>
                <td>{% if reserva.fechaFin %}{{ reserva.fechaFin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Semana</th>
                <td>{{ reserva.semana }}</td>
            </tr>
            <tr>
                <th>Anio</th>
                <td>{{ reserva.anio }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reserva_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reserva_edit', { 'id': reserva.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
