{% extends '@Pg/Paginator/tableinline.html.twig' %}

{% block title %}
    <h2>Propiedades
        <a class="btn btn-outline-success ml-2" href="{{ path('propiedad_new') }}">Nueva</a>
    </h2>
{% endblock %}

{% block paginator_table_header %}
    {# <th></th> #}
    <th scope="col"></th>
    <th scope="col" class="sortable" sort="nombre">Nombre</th>
    <th scope="col" class="sortable" sort="padre">Descripci&oacute;n</th>
    <th scope="col"></th>
{% endblock %}

{% block paginator_table_data %}
    <td>
        
        <img style="width:15%;" border="0" alt="Null" src="{{entity.foto|default('#')}}"> 
    </td>
    <td>{{ entity.titulo|default('N/E') }}</td>
    <td>{{ entity.descripcion }}</td>
    <td>
        <a class="text-info" href="{{path('propiedad_edit', {'id':entity.id}) }}"><i class="fas fa-edit"></i></a>
        <a class="text-danger" href="{{path('propiedad_delete', {'id':entity.id}) }}"><i class="fas fa-times"></i></a>
    </td>
{% endblock %}