{% extends 'base.html.twig' %}

{% block body %}
    <h1>Solicitudcliente</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ solicitudCliente.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if solicitudCliente.fecha %}{{ solicitudCliente.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Finalizada</th>
                <td>{{ solicitudCliente.finalizada }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('solicitudcliente_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('solicitudcliente_edit', { 'id': solicitudCliente.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
